section.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 57px;
}

h1 {
  @media (max-width: $largeur-maximum) {
    font-family: $font-secondary;
    margin-top: 39px;
    width: 275px;
    height: 68px;
  }
}

.title p {
  @media (max-width: $largeur-maximum) {
    font-family: $font-secondary;
    width: 315px;
    margin-top: 10px;
    margin-bottom: 27px;
  }
}

a.button {
  color: #fff;
  text-decoration: none;
}

section.container-filter {
  @media (max-width: $largeur-maximum) {
    display: flex;
    flex-direction: column;
    height: 440px;
    margin-top: 48px;
    font-family: $font-secondary;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.filter-group {
  position: relative;
  margin-bottom: 25px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  background-color: #f6f6f6;
  height: 72.38px;
  border-radius: 20px;
  gap: 23px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.circle {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 24px;
  height: 24px;
  background-color: $primary-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
}

i.fas {
  color: #7e7e7e;
}

.fa-store:before {
  color: $primary-color;
}
