section.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 57px;
}

h1 {
  @media (max-width: $largeur-maximum) {
    font-family: $font-secondary;
    margin-top: 39px;
    width: 275px;
    height: 68px;
  }
}

.title p {
  @media (max-width: $largeur-maximum) {
    font-family: $font-secondary;
    width: 315px;
    margin-top: 10px;
    margin-bottom: 27px;
  }
}

a.button {
  color: #fff;
  text-decoration: none;
}

section.container-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
