section.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $grey2-color;
  padding-bottom: 57px;
  width: 100%;

  h1 {
    font-family: $font-secondary;
    margin-top: 39px;
    width: 275px;
    height: 68px;

    @media screen and (min-width: 768px) {
      width: auto;
      font-size: 40px;
    }
  }

  p {
    width: 315px;
    margin-top: 10px;
    margin-bottom: 27px;

    @media screen and (min-width: 768px) {
      width: auto;
      font-size: 18px;
    }
  }

  &_button {
    color: $white-color;
    text-decoration: none;
  }
}

.container-filter {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;

  @media screen and (min-width: 768px) {
    box-shadow: 0px 2px 4px 0px #00000026;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .filter-title {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 1053px;
    }
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      width: 1053px;
    }
  }

  .filter-group {
    position: relative;
    margin-bottom: 25px;

    .filter {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      background-color: $grey2-color;
      height: 72.38px;
      border-radius: 20px;
      gap: 23px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      @media screen and (min-width: 768px) {
        width: 323px;
        height: 72px;
      }

      i.fas {
        color: #7e7e7e;
      }

      .fa-store:before {
        color: $primary-color;
      }
    }

    .circle {
      position: absolute;
      top: 50%;
      transform: translate(-50%);
      width: 24px;
      height: 24px;
      background-color: $primary-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white-color;
      z-index: 1;
    }
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fadeOut 3s forwards;
  }

  .loader::after {
    content: "";
    border: 8px solid $primary-color;
    border-top: 8px solid $secondary-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      visibility: visible;
    }

    to {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

.container-restaurants {
  background-color: $grey2-color;
  display: flex;
  flex-direction: column;
  width: 100%;

  .restaurants-title {
    font-family: $font-secondary;
    margin: 37px 0 14px 3px;

    @media screen and (min-width: 768px) {
      width: 1080px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .restaurants-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: 49px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 50px 100px;
      width: 1080px;
      margin: auto;
      margin-bottom: 50px;
    }

    .card-container {
      padding: 17px;
      width: 100%;
      height: 251px;
      position: relative;

      @media screen and (min-width: 768px) {
        padding: 0;
        width: 490px;
      }

      .new-label {
        position: absolute;
        width: 80px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-secondary;
        top: 30px;
        right: 50px;
        background-color: $tertiary-color;
        color: #008766;
        font-weight: bold;
        border-radius: 3px;
        z-index: 1;
      }
    }
  }
}

.card {
  &-img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 70%;
    object-fit: cover;
  }

  &-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px 0px #0000001a;
    height: 30%;
    border-radius: 0 0 15px 15px;
    padding-left: 13px;
    position: relative;
    margin-top: -3px;

    h3 {
      font-family: $font-secondary;
      margin-top: 15px;
      margin-bottom: 5px;
      margin-right: 30px;
      height: 20px;
    }

    p {
      font-family: $font-secondary;
    }

    .heart {
      &-container {
        position: absolute;
        top: 22px;
        right: 40px;
        width: 22px;
        height: 21px;
      }

      &-checkbox {
        display: none;

        &:checked + .heart-shape svg {
          fill: url(#heart-gradient-1);
          stroke: url(#heart-gradient-1);
        }
      }

      &-shape {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;

        svg {
          width: 100%;
          height: 100%;
          fill: transparent;
          stroke: black;
          stroke-width: 1;
          transition: fill 0.3s, stroke 0.3s;
        }
      }
    }
  }
}
