/****** General ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_container {
  max-width: 1440px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: $font-primary;
}

.logo {
  font-size: 24px;
  color: #333;
}
