.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
  width: 100%;

  img.navbar_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.image {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: $grey2-color;
  border-radius: 40px 40px 0 0;
  padding: 13px;
  gap: 40px;
  margin-top: -32px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 1055px;
    align-items: center;

    h1 {
      margin-right: 40px;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 20px 0 0;
    height: 29px;

    .heart {
      &-container {
        width: 22px;
        height: 21px;
      }

      &-checkbox {
        display: none;

        &:checked + .heart-shape svg {
          fill: url(#heart-gradient);
          stroke: url(#heart-gradient);
        }
      }

      &-shape {
        cursor: pointer;
        svg {
          width: 22px;
          height: auto;
          fill: transparent;
          stroke: black;
          stroke-width: 1;
          transition: fill 0.3s, stroke 0.3s;
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
      font-size: 16px;
    }

    .filter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $white-color;
      box-shadow: 0px 4.01px 15.04px 0px #0000001a;
      gap: 5px;
      border-radius: 15px;
      padding: 15px;
      animation: fade-in 0.25s ease-in forwards;

      @media screen and (min-width: 768px) {
        width: 634px;
      }

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .checkmark {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 60px;
        height: 100%;
        background-color: $tertiary-color;
        right: 0;
        opacity: 0;
        border-radius: 0 15px 15px 0;
        transition: all 0.5s;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translateX(100%);
      }

      .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }

      &:hover .checkmark {
        transform: translateX(0);
        cursor: pointer;
        opacity: 1;
      }

      &:hover .price {
        transform: translateX(-60px);
      }

      .fa-check:before {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white-color;
        color: $tertiary-color;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      @keyframes fade-in {
        0% {
          opacity: 0;
          transform: translateY(50px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &.delay-1 {
        animation-delay: 0.2s;
      }

      &.delay-2 {
        animation-delay: 0.4s;
      }

      &.delay-3 {
        animation-delay: 0.6s;
      }
    }
  }

  .container h2 {
    position: relative;
    cursor: pointer;
    display: inline;
    align-self: self-start;
  }

  .container h2:hover::after {
    transform: scaleX(2);
    transform-origin: left;
    border-bottom: 3px solid #008766;
  }

  .container h2::after {
    content: "";
    position: absolute;
    border-bottom: 3px solid $tertiary-color;
    bottom: -10px;
    left: 0;
    margin-bottom: 5px;
    width: 50%;
    height: 10px;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  .btn {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 40px;

    a.button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 186px;
    }
  }
}
