@mixin titreh1 {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
}

@mixin button1 {
  border-radius: 20px;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: #ffffff;
  padding: 13px 16px;
  text-decoration: none;
  font-family: $font-secondary;
  font-weight: 500;
}
